---
- name: Deploy Full Stack App to Kubernetes
  hosts: localhost
  connection: local
  tasks:
    - name: Apply MySQL Deployment
      kubernetes.core.k8s:
        state: present
        src: ../k8s/mysql.yaml

    - name: Apply Backend Deployment
      kubernetes.core.k8s:
        state: present
        src: ../k8s/backend.yaml

    - name: Apply Frontend Deployment
      kubernetes.core.k8s:
        state: present
        src: ../k8s/frontend.yaml

    - name: Verify Pods are Running
      shell: kubectl get pods
      register: pod_status

    - name: Print Pod Status
      debug:
        msg: "{{ pod_status.stdout_lines }}"