name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v4
        with:
          context: ./fullstack-project/backend
          file: ./fullstack-project/backend/Dockerfile
          push: true
          tags: anjalidevu/ems-backend:latest

      - name: Build and Push Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./fullstack-project/frontend
          file: ./fullstack-project/frontend/Dockerfile
          push: true
          tags: anjalidevu/ems-frontend:latest